In [4]:
import mysql.connector
import my_secrets

mysql_config = { # config for mysql connection
    "host" : "localhost",
    "port" : 3306,
    "user" : my_secrets.mysql_username,
    "password": my_secrets.mysql_password,
    "database": "classicmodels"
}

conn = mysql.connector.connect(**mysql_config) # connect to mysql
table_name = "employees" # table name
query = f"SELECT * FROM {table_name}" #query

cursor = conn.cursor() # create cursor
cursor.execute(query) # execute query
employees = cursor.fetchall()  # fetch all row to variable employees
columns = [col[0] for col in cursor.description]

print(columns)
for employee in employees:
    print(employee)

['employeeNumber', 'lastName', 'firstName', 'extension', 'email', 'officeCode', 'reportsTo', 'jobTitle', 'VacationHours', 'hourly_pay', 'salary', 'dept', 'hire_date', 'birthdate']
(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President', 20, Decimal('252.40'), None, None, None, None)
(1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales', 20, Decimal('120.19'), None, None, None, None)
(1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing', 40, Decimal('108.17'), None, None, None, None)
(1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)', 58, Decimal('48.08'), None, None, None, None)
(1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)', 20, Decimal('43.27'), None, None, None, None)
(1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)', 20, Decimal('36.06'), None, None, None, None)
(1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep', 60, Decimal('25.00'), 52000, None, None, None)
(1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep', 45, Decimal('21.63'), None, None, None, None)
(1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep', 20, Decimal('12.02'), 25002, None, None, None)
(1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep', 20, None, None, None, None, None)
(1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep', 85, None, None, None, None, None)
(1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep', 8, Decimal('16.83'), None, None, None, None)
(1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep', 20, Decimal('16.83'), None, None, None, None)
(1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep', 60, None, None, None, None, None)
(1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep', 20, Decimal('12.02'), None, None, None, None)
(1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep', 5, Decimal('19.23'), None, None, None, None)
(1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep', 1, Decimal('20.19'), None, None, None, None)
(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep', 22, None, None, None, None, None)
(1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep', 30, None, None, None, None, None)
(1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep', 3, Decimal('23.08'), None, None, None, None)
(1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep', 20, Decimal('21.63'), None, None, None, None)
(1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep', 0, Decimal('12.02'), None, None, None, None)
(1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep', 20, Decimal('11.06'), None, None, None, None)
(1801, 'Smith', 'John', 'x1234', 'jsmith@example.com', '1', 1002, 'Software Engineer', 20, Decimal('40.00'), 83200, 'IT', datetime.date(2024, 1, 1), datetime.date(1990, 6, 15))
(1802, 'Doe', 'Jane', 'x1235', 'jdoe@example.com', '2', 1002, 'Marketing Manager', 20, Decimal('45.00'), 93600, 'Marketing', datetime.date(2024, 2, 1), datetime.date(1985, 8, 20))

In [18]:
import mysql.connector
import my_secrets

mysql_config = { # config for mysql connection
    "host" : "localhost",
    "port" : 3306,
    "user" : my_secrets.mysql_username,
    "password": my_secrets.mysql_password
}

conn = mysql.connector.connect(**mysql_config) # ** is the syntax to pass mysq_config as multiple key:value parameter to connector. without ** mysql_config would pass everything as a singular parameter and it won't work.

cursor = conn.cursor()

# Create a new database
new_database_name = "my_database"
create_database_query = f"CREATE DATABASE IF NOT EXISTS {new_database_name}"
cursor.execute(create_database_query)

# Switch to the new database
cursor.execute(f"USE {new_database_name}")

# create table and insert values
cursor.execute("CREATE TABLE IF NOT EXISTS my_table (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255) NOT NULL,age INT NOT NULL);")
cursor.execute("INSERT INTO my_table (name, age) VALUES ('Tony Stark', 40);")
cursor.execute("INSERT INTO my_table (name, age) VALUES ('Jack Sparrow', 56);")

# commit the change to database
conn.commit()

# fetch data to python

cursor.execute("SELECT * FROM my_table;")
rows = cursor.fetchall()

# print table
for row in rows:
    print(row)


# Close the cursor and connection

(1, 'Tony Stark', 40)
(2, 'Jack Sparrow', 56)