In [1]:
'''
Task 1: Database Connection
1. Setup Database:
 Create a new database named `operations_db` in your mysql platform. 

3. Connect to Database:
 Create a Python script or Jupyter Notebook.
 Establish a connection to the `operations_db` database.

'''
import mysql.connector
import my_secrets
try:
    conn = mysql.connector.connect(
        host="localhost",
        user=my_secrets.mysql_username,
        password=my_secrets.mysql_password,
        database="operations_db"
       )
       #Print a db connection success message

except mysql.connector.Error as e:
    print(f"Error: {e}")

In [7]:
'''
Task 2: CRUD Operations
Create Operation:
1. Create a Table:
 Create a table named `students` with columns `id` (auto-incremented), `name`, and `age`.

'''

try:
    cursor = conn.cursor()
    cursor.execute(f"USE operations_db")
    
    create_table_query = "CREATE TABLE IF NOT EXISTS students (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age INT);"
    cursor.execute(create_table_query)
    
    print("Table 'students' created successfully")
    
    conn.commit()

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    cursor.close()

Table 'students' created successfully

In [11]:
'''
2. Insert Data:
Insert a new student into the `students` table.
'''
try:
    cursor = conn.cursor()

    insert_data_query = "INSERT INTO students(name, age) VALUES ('Tony Stark', 40), ('Jack Sparrow', 56), ('Alice', 38);"
    
    cursor.execute(insert_data_query)
    conn.commit()
    print("Data inserted successfully")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    cursor.close()

Data inserted successfully

In [15]:
'''
2. Read Operation:
 Fetch and display all students from the `students` table.

'''
try:
    cursor = conn.cursor()

    select_data_query = "select * from students"

    cursor.execute(select_data_query)
    rows = cursor.fetchall()

    print("\nList of Students:")
    for row in rows:
        print(row)

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    cursor.close()

List of Students:
(1, 'Tony Stark', 40)
(2, 'Jack Sparrow', 56)

In [12]:
'''
3. Update Operation:
 Update the age of the student named 'Alice' to 23.
 
'''
try:
    cursor = conn.cursor()

    update_data_query = "UPDATE students set age = 23 where name like 'Alice' "

    cursor.execute(update_data_query)
    conn.commit()
    print("Data updated successfully")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    cursor.close()

Data updated successfully

In [14]:
'''
4. Delete Operation:
 Delete the student named 'Alice' from the `students` table.
'''

try:
    cursor = conn.cursor()

    delete_data_query = "DELETE from students where name like 'Alice'"

    cursor.execute(delete_data_query)
    conn.commit()
    print("Data deleted successfully")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    cursor.close()

Data deleted successfully